html {
  height: 100%
}

body {
  position: relative;
  padding-bottom: 7rem;
  min-height: 100%;
  background-color: #FAFAFA;
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

.loader-message {
  text-align: center;
  padding: 1em;
}

/* Spinner Circle Rotation */

.loader-circle {
  height: 50px;
  width: 50px;
  border: 4px #E0FFFF solid;
  border-top: 4px #2196F3 solid;
  border-radius: 50%;
  -webkit-animation: loaderRotationAnimation .75s infinite linear;
  animation: loaderRotationAnimation .75s infinite linear;
}

@-webkit-keyframes loaderRotationAnimation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes loaderRotationAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.navbar-custom {
  background-color: #E91E63;
  border-color: #C2185B;
  border-radius: 0px;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}


.navbar-custom .navbar-brand:hover{
  color: #F5F5F5;
}

.info-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.1rem;
  background-color: #efefef;
  text-align: center;
}

.main-heading {
  margin-top: 1em;
}

.sub-heading {
  margin-bottom: 1em;
}

.section-area {
  padding: 0em 0em;
}

.underline {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #424242;
}

.line-separator {
  border-top: #BDBDBD 1px solid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.stats-list>h4 {
  border-left: 3px solid #2979FF;
  font-size: 1.2em;
  padding: 0.2em 0em 0.2em 1em;
  margin-bottom: 1em;
}

.video-icon {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #F5F5F5;
  font-size: 3rem;
}

.submit-button-container {
  padding-top: 1em;
}

@media (min-width: 480px) {
  .submit-button-container {
    padding-top: 0em;
  }
}

#stats_source_msg {
  text-align: center;
  margin-bottom: 1em;
}

@media (min-width: 640px) {
  #stats_source_msg {
    padding-right: 2em;
    float: right;
  }
}

.profile-content {
  margin: 2em 0em;
}

#loading_message_area {
  padding: 1em 0em;
}

#profile_photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: 120px;
  max-width: 100%;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #E0E0E0;
}

#profile_full_name {
  text-align: center;
}

@media (min-width: 480px) {
  #profile_full_name {
    text-align: left;
  }
}

.profile-info-cell {
  padding-right: 1em;
  float: left;
}

@media (min-width: 540px) {
  .profile-info-cell {
    padding-right: 2em;
  }
}

.profile-info-cell-container {
  text-align: center;
}

.profile-info-cell-container>div {
  display: inline-block;
}

@media (min-width: 480px) {
  .profile-info-cell-container {
    text-align: left;
  }
  .profile-info-cell-container>div {
    display: block;
  }
}

#profile_stats_area {
  padding-top: 1em;
}

#profile_error_area .info-text, #unknown_error_message_area .info-text {
  padding: 2em;
}

#profile_area, #unknown_error_message_area, #loading_message_area {
  display: none;
}


/*breakpoint changes, bootstrap grid and other.*/

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: none;
  width: 100%;
}

@media (min-width: 480px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
}
